<h1>Our Projects</h1>
<header class="centered-header">
    <h1 id="FirstProjectHeader"></h1>
 </header>

 <header class="centered-header">
     <h2 id="FirstprojectHeader"></h2>
 </header>
 <section class="centered-header">
     <p id="Firstproject"></p>
 </section>
 <figure class="centered-header"><img src="./images/pic2.jpg" alt="image"></figure>

 <header class="centered-header">
     <h2 id="SecondProjectHeader"></h2>
 </header>
 <section class="centered-header">
     <p id="SecondProject"></p>
 </section>
 <figure class="centered-header"><img src="./images/pic3.jpg" alt="image"></figure>

 <header class="centered-header">
     <h2 id="ThirdProjectHeader"></h2>
 </header>
 <section class="centered-header">
     <p id="ThirdProject"></p>
 </section>
 <figure class="centered-header"><img src="./images/pic4.jpg" alt="image"></figure>