<h1>Our Services</h1>
<header class="centered-header">
    <h1 id="ServicesHeader"></h1>
  </header>

  <header class="centered-header">
    <h2 id="ServiceHeader"></h2>
  </header>
  <section class="centered-header">
      <p id="Service"></p>
  </section>
  <figure class="centered-header">
      <img src="./images/pic5.jpg" alt="image">
  </figure>
  <header class="centered-header">
      <h2 id="ServiceHeader2"></h2>
  </header>
  <section class="centered-header">
      <p id="Service2"></p>
  </section>
  <figure class="centered-header">
      <img src="./images/pic6.jpg" alt="image">
  </figure>
  <header class="centered-header">
    <h2 id="ServiceThirdHeader"></h2>
  </header>
  <section class="centered-header">
      <p id="ServiceThird"></p>
  </section>
  <figure class="centered-header">
      <img src="./images/pic7.jpg" alt="image">
  </figure>